<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MoneyTransactions.DAL.Properties.Settings.MoneyTransactionsConnectionString"
            connectionString="Data Source=DESKTOP-J4I9GGB;Initial Catalog=MoneyTransactions;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>