<div class="form-group coin-selector-wrapper">
    <label>Change coin</label>
    <div class="row">
        <div class="col-sm-7">
            <select class="form-control coin-selector">
                <option value="btc" class="btc">Bitcoin</option>
                <option value="eth" class="eth">Ethereum</option>
                <option value="xrp" class="xrp">Ripple</option>
            </select>
        </div>
    </div>
</div>
<hr>
<div class="offer-details">
    <h4>Giá</h4>
    <div class="offer-extra-fields">
        <div class="form-group price">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-sm-5 col-xs-7">
                            <label>Giá bitUSD</label>
                        </div>
                        <div class="col-sm-4 text-right col-xs-5 value">
                            <strong>23,180.00 VND / bitUSD</strong>
                        </div>
                        <div class="col-sm-3 text-left col-xs-12 text-xs-right">
                            <a class="btn-change">Thay đổi</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <span class="explanation">
                        Giá 1 bitUSD theo
                        VND
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-if="$root.coin_currency != 'usdt'">
            <div class="form-group price-for-maker">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-sm-5 col-xs-6">
                                <label>
                                    <span>
                                        Giá Bitcoin
                                        bạn thực trả
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-4 text-right col-xs-6 text-xs-right">
                                <strong>196,733,991 / BTC</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <span class="explanation">
                            <span>
                                Đây là giá
                                tương ứng với tỉ giá Bitstamp BTC hiện tại (<strong class="text-primary">8487.23</strong>). Giá sẽ
                                biến động khi tỉ giá Bitstamp BTC thay
                                đổi.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>