MoneyTransactions/.vs
MoneyTransactions/MoneyTransactions.BUS/bin
MoneyTransactions/MoneyTransactions.BUS/obj

MoneyTransactions/MoneyTransactions.Common/bin
MoneyTransactions/MoneyTransactions.Common/obj

MoneyTransactions/MoneyTransactions.DAL/bin
MoneyTransactions/MoneyTransactions.DAL/obj

MoneyTransactions/MoneyTransactions.Web/bin
MoneyTransactions/MoneyTransactions.Web/obj



MoneyTransactions/MoneyTransactions.Entities/bin/Debug/MoneyTransactions.Entities.dll
MoneyTransactions/MoneyTransactions.Entities/bin/Debug/MoneyTransactions.Entities.pdb
obj
