MoneyTransactions/.vs/*
MoneyTransactions/MoneyTransactions.DAL/obj/*
MoneyTransactions/MoneyTransactions.Common/obj/*
MoneyTransactions/MoneyTransactions.BUS/obj/*
MoneyTransactions/MoneyTransactions.Web/obj/*
