
@{
    ViewBag.Title = "Coming Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <strong style="color: white;">Coming soon</strong>
                </div>
            </div>
        </div>
    </div>
</section>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
