
@{
    ViewBag.Title = "Index";
}



<div class="col-xs-12 container">
    <div class="row" id="row-added">
        <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            <div class="dropdown" id="dropdown-button">
                <button class="btn btn-primary dropdown-toggle" id="long-panel" type="button" data-toggle="dropdown">
                    Dropdown Example
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
            <div id="remi-bid-ask-info">
                <div class="col-xs-6" id="div-left-sell">
                    <div id="title">Giá bán:</div>
                    <div id="remi-rate">
                        <span>
                            <span class="amount">191,467,996</span>
                            <span class="currency">VND</span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6" id="div-left-buy">
                    <div id="title"></div>Giá mua:
                    <div id="remi-rate">
                        <span>
                            <span class="amount">188,484,283</span>
                            <span class="currency">VND</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

