@model IEnumerable<MoneyTransactions.DAL.Order>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12">
    <div class="p-16 cta-box">
        <div class="gift-thumb">
            <div class="icon-gift-alt">
            </div>
        </div>
        <div class="cta-right-column">
            <div class="cta-content">
                <div class="cta-title">Mời bạn bè</div>
                <span class="cta-details">
                    <div class="short-description">
                        <span>
                            Nhận ngay <b>0.01 BTC (~ 2,100,000 VND)</b> cho mỗi một người
                            được bạn giới thiệu tham gia Localhost.
                        </span>
                        <div class="block-10">Chia sẻ liên kết sau:</div>
                        <div class="text-sm-center">
                            @Html.ActionLink("Đăng nhập để lấy link giới thiệu", "Login", "Account", null, new { @class="btn btn-primary btn-sm" })                            
                        </div>
                    </div>
                </span>
            </div>
            <div class="cta-button-wrapper">
                <a href="#" class="btn btn-success cta-button">
                    Tìm hiểu thêm
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Ban muon mua bitcoin -->
<div class="sell-offers offer-list-section mb-24">
    <div class="title-accent heading-03">
        <span>
            <div class="icon-flag-squared svg-icon icon-secondary icon-24">
                <svg>
                    <use xlink:href="#flag-squared"></use>
                </svg>
            </div>
            <span>
                Bạn muốn <span class="text-success">mua</span> Bitcoin?
            </span>
        </span>
    </div>
</div>

<!-- Danh sach mua -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>


