<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav remi-header-top-menu">
        <li>@Html.ActionLink("Example 1", "Index", "Home")</li>
        <li>@Html.ActionLink("Example 2", "About", "Home")</li>
        <li>@Html.ActionLink("Example 3", "Contact", "Home")</li>
        <li>@Html.ActionLink("Đăng nhập / Đăng ký", "Login", "Account")</li>
    </ul>
</div>