
@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <strong style="color: white;">Cài đặt</strong>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="main">
    <section class="page-content settings-page">
        <div class="container">
            <div role="tablist" class="panel-group">
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                Bảo mật Authy
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse" style="height: 0px;"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                Thông báo
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse" style="height: 0px;"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                Hồ Sơ
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse" style="height: 0px;"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                Những thiết bị đã tin dùng
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse" style="height: 0px;"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                @*<div class="icon-minus svg-icon align-left icon-gray">
                                        <svg>
                                            <use xlink:href="#minus"></use>
                                        </svg>
                                    </div>*@
                                Danh sách đen
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse" style="height: 0px;"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">                                
                                Lịch sử truy cập
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse"></div>
                </div>
                <div class="panel collapsed">
                    <div role="tab">
                        <h4 class="panel-title uppercase-first-letter">
                            <a role="button" href="">
                                Truy cập API
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body collapse"></div>
                </div>
            </div>
        </div>
    </section>
</div>