
@{
    ViewBag.Title = "Ether nhắm mục tiêu 160 đô la khi các Altcoin tăng giá và BTC đi ngang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 45%">
    <div class="row">
        <h1>
            <strong>
                Ether nhắm mục tiêu 160 đô la khi các Altcoin tăng giá và BTC đi ngang
            </strong>
        </h1>
        <span>
            14/12/2019 lúc 08:08
        </span>
        <hr />
        <br />

        <h4>
            Các altcoin tiếp tục tận dụng lợi thế giao dịch đi ngang của Bitcoin và trader hiện đang theo dõi các cặp altcoin-to-Bitcoin tại các sàn giao dịch và cho rằng nhiều altcoin sẽ đạt lợi nhuận hai chữ số.
        </h4>
        <br />
        <h4>
            Trong ngày hôm qua, đã có lúc THETA tăng 13%, KyberNetwork (KNC) 18% và TomoChain (TOMO) đã tăng 16%. Ether đã không thể đạt được những kết quả tương tự khi sắp hết năm 2019 nhưng altcoin vẫn đang tìm cách kết thúc năm với mức tăng 35%.
        </h4>
        <br />
        <div class="text-center">
            <img src="~/Content/images/Article4/article4_1.JPG" alt="Bitcoin" style="width: 100%;" />
        </div>
        <p>
            Hiệu suất hàng tuần của thị trường tiền điện tử | Nguồn: <a href="#">Coin360</a>
        </p>
        <br />
        <p>
            Kể từ ngày 27/11, giá Ether đã theo sát bên dưới đường xu hướng giảm dần dài hạn, vẽ ra mức thấp hàng ngày thấp hơn. Lần giảm vào ngày 12/12 xuống còn 139 đô la đánh dấu lần thứ tư test ngưỡng hỗ trợ kể từ ngày 22/11 và altcoin vẫn có nguy cơ giảm xuống mức hỗ trợ mạnh cuối cùng còn lại tại 131.61 đô la.
        </p>
        <br />
        <p>
            Hôm qua, khối lượng tăng trưởng cho thấy bò rất muốn bảo vệ mức hỗ trợ 139 đô la và giá hiện đang cố gắng chống lại đường xu hướng giảm dần ở mức 145.35 đô la và cũng được căn chỉnh với một node âm lượng cao trên chỉ báo phạm vi hiển thị cấu hình khối lượng (VPVR).
        </p>
        <p>
            Mặc dù Ether có xu hướng giảm giá nhưng vẫn tồn tại cơ hội để giao dịch đổi chiều và có thể mang lại lợi tức đầu tư từ 10% đến 12%.
        </p>

        <div>

            <div class="text-center">
                <img src="~/Content/images/Article4/article4_2.JPG" alt="Bitcoin" />
            </div>
            <h5>
                Biểu đồ ETH/USD hàng ngày | Nguồn: TradingView
            </h5>
            <br />
            <p>
                Nếu Ether có thể vượt qua đường xu hướng giảm dần và xóa ngưỡng kháng cự ở mức 150 đô la thì giá có thể chạy qua khoảng cách VPVR đến 160 đô la. Điều này cũng sẽ đẩy giá Ether tăng vài đô la khi thiết lập đỉnh cao hơn hàng ngày, là điều chưa từng thấy kể từ khi giảm từ mức 163 đô la vào ngày 24/11.
                <br />
                <br />
                Giá Ether cũng đang tiến gần đến đường trung bình động của chỉ báo dải bollinger ở mức 148 đô la và dải trên 155 đô la. Ngoài ra, biểu đồ phân kỳ hợp lưu trung bình động (MACD) cho thấy động lượng tăng đều đặn và chỉ báo tiếp tục kéo ra khỏi đường tín hiệu.
            </p>
        </div>

        <div class="text-center">
            <img src="~/Content/images/Article4/article4_3.JPG" alt="Bitcoin" />
        </div>
        <h5>
            Biểu đồ 6 giờ của ETH/USD | Nguồn: TradingView
        </h5>
        <br />
        <p>
            Như trong biểu đồ 6 giờ, Ether đấu tranh để vượt qua mức trung bình động theo cấp số nhân 12 kỳ và đường xu hướng giảm dần nhưng chỉ báo dao động Chaikin Money Flow (CMF) đã tăng lên trên 0. MACD dường như đang trên đà hình thành giao cắt tăng giá và RSI tăng từ vùng quá bán hướng đến 46.
            <br />
            <br />
            Ether chỉ cần tăng khối lượng mua để vượt qua node khối lượng cao ở mức 146 đô la.
        </p>

        <div>
            <h4>
                <strong>
                    Cặp ETH / BTC có ‘dấu hiệu của sự sống’
                </strong>
            </h4>
            <div class="text-center">
                <img src="~/Content/images/Article4/article4_4.JPG" alt="Bitcoin" />
            </div>
            <h4>
                Biểu đồ ETH / BTC hàng ngày | Nguồn: TradingView
            </h4>            
            <br />
            <p>
                Ether được thiết lập trên cặp ETH/BTC khá giống với cặp ETH/USD. Giá cũng đã được giới hạn giữa EMA 12 điểm và đường xu hướng giảm dần tại 0.020190 (sats).
                <br />
                <br />
                Đầu ngày hôm qua, giá Ether đã nhanh chóng xuất hiện trên đường xu hướng giảm dần và các trader nhận thấy giao cắt tăng giá trên đường MACD cũng như biểu đồ của chỉ báo đã chuyển sang màu xanh lá cây và hiện ở trên 0.
                Chỉ số sức mạnh tương đối (RSI) đã đi vào lãnh thổ tăng và đang cố tăng trên 53.
            </p>
            <br />
            <p>
                Ngưỡng hỗ trợ 0.019577 (sats) đã được giữ vững nhưng Ether sẽ có một thời gian khó khăn để đạt được trên 0,.020829 (sats). Các trader có thể cân nhắc chờ giá đạt 0.021101 (sats) hoặc cao hơn ở mức 0.021781 (sats) trước khi xem xét entry.
                <br />
                <br />
                Điều tương tự có thể xảy ra cho cặp ETH/USD. Các trader có thể cân nhắc chờ đợi cho đến khi Ether xóa đường xu hướng giảm dần để xác lập mức cao hơn trên 152 đô la. Ngoài ra, mua dip nhờ pullback còn 138.57 đô la, 131.50 đô la cũng đã chứng minh được lợi nhuận vì vậy các trader có thể cân nhắc chờ đợi entry ít rủi ro hơn tại một trong hai ngưỡng hỗ trợ này.
            </p>
            
            <br />
            <p class="text-right">
                Tạp chí Bitcoin | Cryptolate
            </p>
        </div>
    </div>
</div>


