
@{
    ViewBag.Title = "Cardano trở thành khách hàng của McCann, sau Microsoft, LinkedIn và Na Uy Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 45%">
    <div class="row">
        <h1>
            <strong>
                Cardano trở thành khách hàng của McCann, sau Microsoft, LinkedIn và Na Uy Airlines
            </strong>
        </h1>
        <span>
            14/12/2019 lúc 13:00
        </span>
        <hr />
        <br />
        <h4>
            Cardano Foundation thông báo rằng họ đã chọn McCann Dublin, công ty quảng cáo toàn cầu có trụ sở tại Ireland, làm cơ quan thiết kế và chiến lược thương hiệu. Theo thông báo của công ty, McCann sẽ được giao nhiệm vụ chỉnh sửa lại thương hiệu Cardano với nhiệm vụ của công ty.
        </h4>
        <br />
        <div class="text-center">
            <img src="~/Content/images/Article5/article5_1.jpg" alt="Bitcoin" style="width: 100%;" />
        </div>

        <br />
        <br />
        <div>
            <h4>
                <strong>
                    Cardano Foundation thuê công ty quảng cáo toàn cầu để phát triển thương hiệu của mình
                </strong>
            </h4>
            <br />
            <p>
                Cardano Foundation, một tổ chức độc lập được giao nhiệm vụ giám sát sự phát triển của Cardano, đã đặt mục tiêu củng cố hình ảnh của dự án blockchain đầy tham vọng của mình. Với nhiều kế hoạch thí điểm trong công việc và hàng tá các cập nhật và cột mốc quan trọng mà nhóm Cardano đạt được, bước cuối cùng trong việc áp dụng toàn cầu là nhận diện thương hiệu.
                <br />
                <br />
                Bất chấp những mục tiêu đầy tham vọng, đội ngũ tận tụy và trung thành theo sát, Cardano đã phải vật lộn để xâm nhập vào ngành công nghiệp tiền điện tử chính thống và cạnh tranh trong các giải đấu lớn. Và bây giờ, tổ chức có trụ sở tại Thụy Sĩ đã thông báo rằng họ đã chỉ định một công ty quảng cáo giúp họ tiếp cận đối tượng rộng hơn.
                <br />
                <br />
                Theo thông báo chính thức của công ty, McCann Dublin, chi nhánh quảng cáo toàn cầu khổng lồ McCann có trụ sở tại Ireland, sẽ được giao nhiệm vụ phát triển chiến lược và thiết kế thương hiệu của công ty.
            </p>
        </div>

        <div>
            <h4>
                <strong>
                    Dự đoán tương lai về dự án blockchain dựa trên nghiên cứu đầu tiên
                </strong>
            </h4>
            <br />
            <p>
                Không rõ liệu công ty sẽ trải qua một đợt tái tạo thương hiệu hoàn chỉnh hay chỉ là một bản sửa đổi hình ảnh của nó. Thông báo tuyên bố rằng việc “tái nhận định thương hiệu” được dẫn dắt bởi McCann sẽ thúc đẩy việc áp dụng Cardano.
                <br />
                <br />
                Theo Bakyt Azimkanov, giám đốc PR, truyền thông và marketing toàn cầu tại Cardano Foundation, cho biết Cardano đang mong muốn được hợp tác với cơ quan đằng sau một số thương hiệu lớn nhất thế giới. Anh nói:
            </p>
            <br />
            <p>
                “Thương hiệu đóng một vai trò quan trọng trong việc áp dụng Cardano khi nhiều tổ chức đang thiết lập để tích hợp blockchain thế hệ thứ ba đầu tiên của trên thế giới vào hoạt động của họ”.
                <br />
                <br />
                Jenny Paetzold, đối tác quản lý của McCann Dublin, nói rằng hai công ty “phù hợp theo lẽ tự nhiên”. McCann thừa nhận tầm quan trọng của tiền điện tử, nói rằng cả hai “không thể bị ngăn cản và sẽ trường tồn lâu dài”. Cardano sẽ cùng với Microsoft, LinkedIn và Na Uy Airlines trở thành khách hàng của McCann, nơi mà phạm vi tiếp cận toàn cầu của cơ quan này có thể đưa công ty đến gần hơn với đối tượng mới và rộng lớn.


            </p>
        </div>
        <br />
        <p class="text-right">
            Tạp chí Bitcoin | Cryptolate
        </p>
    </div>
</div>

