
@{
    ViewBag.Title = "Tin vắn Crypto 14/12: John McAfee vẫn tin rằng Bitcoin sẽ chạm mức 1 triệu USD vào cuối năm 2020 cùng tin tức Ethereum, Bitcoin Cash, Ripple, Litecoin, MakerDAO, Celsius Network, Uniswap, IOST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="width: 45%">
    <div class="row">
        <h1>
            <strong>
                Tin vắn Crypto 14/12: John McAfee vẫn tin rằng Bitcoin sẽ chạm mức 1 triệu USD vào cuối năm 2020 cùng tin tức Ethereum, Bitcoin Cash, Ripple, Litecoin, MakerDAO, Celsius Network, Uniswap, IOST
            </strong>
        </h1>
        <span>
            14/12/2019 lúc 19:00
        </span>
        <hr />
        <br />

        <h4>
            Từ việc John McAfee vẫn tin rằng giá BTC sẽ chạm mức 1 triệu USD vào cuối năm 2020 đến Bitcoin Cash sắp có meetup tại Việt Nam. Sau đây là một số tin tức nổi bật trên thị trường crypto.
        </h4>
        <br />
        <div class="text-center">
            <img src="~/Content/images/Article3/article_3_1.jpg" alt="Bitcoin" style="width: 100%;" />
        </div>

        <br />
        <div>
            <h3>
                <strong>Tin tức Bitcoin</strong>
            </h3>
        </div>
        <div>
            <p>
                John McAfee vẫn tin rằng Bitcoin có thể đạt 1 triệu USD vào ngày 31/12?2020, bất chấp hành động giá ảm đạm của nó hiện tại.
            </p>
            <p>Khi được hỏi liệu dự đoán tăng giá của mình có còn hiệu lực hay không, McAfee trả lời ngắn gọn: “Tôi cược là như vậy.”</p>
        </div>
        <br />
        <div>
            <div class="text-center">
                <img src="~/Content/images/Article3/article_3_2.jpg" alt="Bitcoin" />
            </div>

            <br />
            <p>
                Ông tuyên bố rằng Bitcoin là loại tiền tệ giảm phát tự động đầu tiên trong lịch sử và cuối năm 2020 vẫn còn quá xa để bác bỏ dự báo của ông.
            </p>
            <p>
                “Chỉ có 21 triệu (coin) có thể tồn tại và 18 triệu (coin) đã được khai thác. Điều này có nghĩa là chỉ còn lại 3 triệu coin, và sẽ mất nhiều năm để khai thác 3 triệu coin đó. Trong khi đó, 7 triệu coin đã biến mất mãi mãi và cứ mỗi coin được khai thác thì có 04 coin mất đi. Bạn có hiểu không? Đây là loại coin giảm phát tự động đầu tiên trên thế giới”.
            </p>
            <p>
                Đồng thời, hôm qua, trong dòng tweet của mình, John McAfee tuyên bố rằng Bitcoin đã tăng hơn 4.000% trong 05 năm qua và năm nay nó đã tăng gần 130%. Fiat không có cửa để so sánh với BTC.
            </p>
        </div>
        <div class="text-center">
            <img src="~/Content/images/Article3/article_3_3.jpg" alt="Bitcoin" />
        </div>

        <div>
            <h4>
                <strong>
                    Phí Bitcoin có thể vượt mức 100 USD vào năm 2020
                </strong>
            </h4>
            <br />
            <p>
                Spencer Bogart của Blockchain Capital gần đây đã công bố danh sách dự đoán năm 2020 cho tiền điện tử. Điều đáng chú ý nhất liên quan đến phí Bitcoin, dự kiến sẽ vượt qua mức 100 USD vào năm tới do nhu cầu giao dịch ngày càng tăng.
            </p>

            <br />

            <div class="text-center">
                <img src="~/Content/images/Article3/article_3_4.jpg" alt="Bitcoin" />
            </div>
            <br />
            <p>
                <em>"Dự đoán năm 2020 từ sự kết thúc vào cuối năm của thị trường Crypto"</em>
            </p>
            <br />
            <p>
                Mục số 7 gây nhiều tranh cãi. Những người không hiểu BTC sẽ hoảng loạn. Tuy nhiên, nó không chỉ là một sự phát triển tích cực, nó còn là một phần không thể tránh khỏi trong quỹ đạo phát triển của BTC“.
            </p>
            <br />
            <br />
            <div>
                <h4>
                    <strong>
                        Riot Blockchain mua thêm 1.000 máy đào
                    </strong>
                </h4>
                <br />
                <p>
                    Công ty khai thác tiền điện tử Riot Blockchain đã công bố việc mua thêm 1.000 máy Antminers Bitmain S17-Pro thế hệ tiếp theo vào ngày 12/12. Điều này hoàn thành việc nâng cấp cơ sở khai thác tại Thành phố Oklahoma của mình, sau khi đơn hàng 3.000 máy ban đầu được công bố vào ngày 4 tháng 12.
                </p>
                <p>
                    Công ty dự đoán rằng các máy đào mới sẽ tạo ra 440% hashrate trong khi chỉ tiêu thụ 220% năng lượng.
                </p>
                <h4>
                    <strong>
                        Mark Yusko cho biết giá bitcoin có thể tăng từ 100.000 USD lên 500.000 USD vào năm 2030
                    </strong>
                </h4>
                <p>
                    Trong một cuộc phỏng vấn gần đây, nhà sáng lập Morgan Creek Capital – Mark Yusko – đã bày tỏ ý kiến của mình về triển vọng của Bitcoin và những gì mà các nhà đầu tư sẽ mong đợi trong thập kỷ tới.
                </p>
                <p>
                    Yusko đã làm hài lòng hầu hết các trader và nhà đầu tư khi trích dẫn các con số như 100.000 USD và 500.000 USD. Mark Yusko nói:
                </p>
                <p>
                    <em>"Từ nay đến năm 2021, chúng ta có thể sẽ thấy mức 100.000 USD của Bitcoin."</em>
                </p>
                <p>
                    Sau đó, ông tuyên bố, Bitcoin sẽ hoàn toàn biến thành vàng kỹ thuật số và giá trị của nó sẽ tăng mạnh.
                </p>
                <p>
                    <em>
                        "Đến năm 2025, chúng ta có thể sẽ thấy mỗi Bitcoin trị giá 250.000 USD, và sau đó một thời gian, vào năm 2030, chúng ta có thể thấy mức 400.000 USD hoặc 500.000 USD khi nó đạt đến mức tương đương với vàng."
                    </em>
                </p>
                <h4>
                    <strong>
                        Tin tức Ethereum
                    </strong>
                </h4>
                <br />
                <p>
                    Vitalik Buterin (Người tạo ra Ethereum) và Eric Weinstein (Tiến sĩ, nhà khoa học và Giám đốc điều hành tại Thiel Capital), gần đây đã cùng nhau thảo luận về quan điểm của Buterin đối với lý thuyết kinh tế “cổ điển”.
                </p>
                <p>
                    Buterin nhấn mạnh rằng có những người tham gia trong cộng đồng tiền điện tử với hy vọng rằng tiền fiat sẽ bị phá hủy và thay thế bằng Bitcoin. Buterin cho biết rằng triển vọng của bất kỳ “sự gián đoạn ngắn hạn” nào vì một số “lợi ích lâu dài mơ hồ” là điều đáng nghi ngờ.
                </p>
                <p>
                    <em>"Tôi chắc chắn rằng tiền fiat sẽ không thể bị phá hủy".</em>
                </p>
                <h4>
                    <strong>
                        Tin tức Bitcoin Cash
                    </strong>
                </h4>
                <br />
                <p>
                    Roger Ver, nhà đầu tư đầu tiên vào các công ty startup Bitcoin bao gồm Bitcoin.com, Blockchain.com, BitPay, Kraken tiết lộ về buổi meetup của Bitcoin Cash Việt Nam. Theo thông báo, buổi meetup sẽ diễn ra vào thứ Hai tuần này và người dùng tham gia sẽ nhận được những phần quà marketing miễn phí.
                </p>
            </div>

            <div class="text-center">
                <img src="~/Content/images/Article3/article_3_5.jpg" alt="Bitcoin" />
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức Ripple
                    </strong>
                </h4>
                <br />
                <p>
                    Theo bài đăng trên blog vào ngày 12/12, Startup chuyển tiền dựa trên blockchain SendFriend sử dụng công nghệ Ripple, tuyên bố họ có thể giúp tiết kiệm tới 80% phí chuyển tiền.
                </p>
                <br />
                <p>
                    SendFriend sử dụng sản phẩm xRapid của Ripple trong quá trình thanh toán xuyên biên giới, chuyển đổi giữa đồng USD, XRP và peso của Philippines, giúp rút ngắn thời gian và giảm chi phí so với ngân hàng truyền thống.
                </p>
                <br />
                <p>
                    Ứng dụng chuyển tiền SendFriend, nhằm mục đích giảm đến 75% phí chuyển tiền hàng năm cho người lao động Philippines xuyên biên giới. Với ODL, người dùng RippleNet, có thể sử dụng XRP để kết nối hai loại tiền tệ với nhau trong 03 giây. Hiện tại, công ty có thể cung cấp nguồn thanh khoản, theo yêu cầu và giảm chi phí giao dịch lên tới 75%.
                </p>
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức Litecoin
                    </strong>
                </h4>
                <br />
                <p>
                    Quỹ Litecoin đang nỗ lực huy động vốn nhằm tài trợ cho nghiên cứu và triển khai các tính năng bảo mật.
                </p>
                <p>
                    Quỹ hiện đã nhận được 163 LTC trị giá khoảng 7.230 USD. Nhà sáng lập Litecoin, Charlie Lee nói rằng ông sẽ nỗ lực thực hiện mọi đóng góp. Số tiền huy động được sẽ giúp nhà phát triển David Burkett triển khai giao thức Mimblewimble.
                </p>

                <div class="text-center">
                    <img src="~/Content/images/Article3/article_3_6.jpg" alt="Bitcoin" />
                </div>
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức MakerDAO
                    </strong>
                </h4>
                <br />
                <p>
                    Weiss Crypto Rating, nhà xếp hạng tiền điện tử độc lập uy tín trên thị trường, gần đây cho rằng Maker DAO có thể trở thành ngân hàng trung ương đáng tin cậy đầu tiên trên thế giới. Cơ quan này ca ngợi quyết định của cộng đồng Maker khi tiến hành nâng cấp cơ chế tạo ra DAI.
                </p>
                <p>
                    Maker hiện là dự án lớn nhất trong lĩnh vực tài chính phi tập trung (DeFi). Trở lại vào tháng 11, các bên liên quan của MKR đã bỏ phiếu để tiến tới DAI đa tài sản (MCD), cho phép người dùng chốt stablecoin với các loại tiền điện tử khác ngoài Ether. Tài sản thế chấp duy nhất sẽ được đổi tên thành SAI.
                </p>

                <div class="text-center">
                    <img src="~/Content/images/Article3/article_3_7.jpg" alt="Bitcoin" />
                </div>
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức Celsius Network
                    </strong>
                </h4>
                <br />
                <p>
                    CEO Celsius cho biết toàn bộ Internet sẽ trở thành ứng dụng trên Blockchain
                </p>
                <br />
                <p>
                    Phát biểu tại ELEV8CON ở Las Vegas vào ngày 10 tháng 12, nhà sáng lập và CEO của Celsius Network, Alex Mashinsky nói rằng có một cuộc chiến giữa các mạng lưới tập trung và phi tập trung. Mashinsky nói:
                </p>
                <br />
                <p>
                    “Việc tập trung vào Internet của các công ty như Facebook và Google đã tạo ra một thực tế méo mó nơi những tin tức giả mạo và những lời nói dối trắng trợn được đối xử giống như những sự thật được ghi chép lại”.
                </p>
                <br />
                <p>
                    Mashinsky cho biết sự gia tăng của các trang mạng xã hội tập trung đã dẫn đến sự gia tăng tin tức giả mạo, gây ra sự nhầm lẫn lớn về những thông tin và sự kiện cơ bản.
                </p>
                <br />
                <p>
                    Ông cũng lưu ý rằng những câu chuyện và tin tức giả mạo có xu hướng tăng do sự tham gia của độc giả, sau đó sẽ được chuyển thành lợi nhuận khổng lồ cho các công ty như Facebook và Google.
                </p>
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức Uniswap
                    </strong>
                </h4>
                <br />
                <p>
                    Uniswap, một trong những sàn giao dịch phi tập trung (DEX) hàng đầu, đã phân phối hơn 1 triệu USD phí giao dịch cho các nhà cung cấp thanh khoản.
                </p>
                <div class="text-center">
                    <img src="~/Content/images/Article3/article_3_8.jpg" alt="Bitcoin" />
                </div>
                <p>
                    Kể từ khi thành lập vào tháng 11 năm 2018, Uniswap đã có được lực kéo đáng kể từ cộng đồng DeFi khi nó tự đặt mình là sàn giao dịch phi tập trung do tính năng UI / UX, hoán đổi các token dựa trên Ethereum.
                </p>
                <br />
                <p>
                    Mặc dù thị trường tiền điện tử đang có xu hướng giảm giá trong vài tuần qua, các sàn giao dịch phi tập trung lớn đã đạt mức cao kỷ lục về khối lượng giao dịch. Do đó, không có gì ngạc nhiên khi phí giao dịch của Uniswap đang gia tăng nhanh chóng vì nó đang kiếm được tiền nhờ vào sự gia tăng về khối lượng giao dịch. Cùng với sự gia tăng về khối lượng, tính thanh khoản trên các tài sản lớn cũng gần đạt được mức cao nhất.
                </p>
            </div>

            <div>
                <h4>
                    <strong>
                        Tin tức IOST
                    </strong>
                </h4>
                <br />
                <p>
                    IOST cho biết nó hiện là công cụ tăng điểm mạnh mẽ nhất trên sàn giao dịch Upbit tại Hàn Quốc với mức tăng trưởng lên đến 18,68%. Theo sau đó là Siacoin với mức tăng trưởng 14,78%.
                </p>
                <div class="text-center">
                    <img src="~/Content/images/Article3/article_3_9.jpg" alt="Bitcoin" />
                </div>
            </div>


            <div>
                <h4>
                    <strong>
                        Tin tức khác
                    </strong>
                </h4>
                <br />
                <h4>
                    <strong>
                        Thí điểm Blockchain tạo ra “làn sóng” mới trong ngành năng lượng của Nga
                    </strong>
                </h4>
                <br />
                <p>
                    Đầu tuần này, công ty startup công nghệ Nga, Waves tuyên bố họ đã thử nghiệm một giải pháp blockchain để thanh toán trong lĩnh vực điện bán lẻ. Chương trình thí điểm được khởi xướng bởi Rosseti, nhà điều hành mạng lưới năng lượng quốc gia Nga, đang tìm cách cải thiện tính minh bạch, tự động hóa và thực hiện các giao dịch giữa các nhà sản xuất năng lượng, nhà cung cấp và người tiêu dùng.
                </p>
                <br />
                <p>
                    Hiện tại giai đoạn đầu tiên đã được hoàn thành, các đối tác sẽ tiến hành mở rộng quy mô của họ và cuối cùng, sẽ cho ra mắt giải pháp hỗ trợ blockchain trên toàn quốc.
                </p>
                <h4>
                    <strong>
                        75% các công ty IoT muốn tích hợp công nghệ Blockchain
                    </strong>
                </h4>
                <br />
                <p>
                    Trong một cuộc khảo sát, Avivah Litan, nhà phân tích tại Gartner, cho biết rằng 75% số người dùng áp dụng công nghệ IoT ở Mỹ đã chấp nhận blockchain hoặc đang có kế hoạch áp dụng nó vào cuối năm 2020 trong số hơn 500 công ty.
                </p>
                <br />
                <p>
                    Công nghệ blockchain có thể tạo ra một môi trường đáng tin cậy để truyền dữ liệu giữa các mạng lưới hoặc thiết bị ảo, đồng thời tăng hiệu quả của các trao đổi đó. Theo Litan, trong số 75% công ty sẽ chấp nhận blockchain, 86% đang triển khai cả IoT và blockchain trong các dự án khác nhau.
                </p>
            </div>


            <br />
            <p class="text-right">
                Tạp chí Bitcoin | Cryptolate
            </p>
        </div>
    </div>
</div>

