
@{
    ViewBag.Title = "Bitcoin chính là tài sản đầu tư tốt nhất trong thập kỷ này";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 45%">
    <div class="row">
        <h1>
            <strong>
                Bitcoin chính là tài sản đầu tư tốt nhất trong thập kỷ này
            </strong>
        </h1>
        <span>15/12/2019 lúc 06:00</span>
        <hr />

        <h4><a>Bitcoin</a> cũng đã góp mặt trong thời kỳ “suy nhược” – nhưng trong thập kỷ qua, nó là một trong những tài sản đầu tư tốt nhất. Xuất hiện như một “con thiên nga đen”, BTC đạt được giá trị phi thường.</h4>
        <br />
        <div class="text-center">
            <img src="~/Content/images/BigArticle/bitcoin-la-tai-san-dau-tu-tot-nhat-trong-thap-ky-nay.jpg" alt="Bitcoin" style="width: 50%;" />
        </div>

        <br />
        <div>
            <h3>
                <strong>
                    Bitcoin trở thành một “lá bài bất định” cho tài chính cá nhân
                </strong>
            </h3>
        </div>

        <br />
        <div>
            <p>Nắm giữ BTC trị giá 1 đô la trong năm 2010 sẽ chuyển thành hơn 90.000 đô la vào ngày hôm nay, ngay cả sau khi điều chỉnh từ giá cao nhất.</p>
            <br />
            <p>
                “BAML có một danh sách các loại tài sản tốt nhất / tồi nhất trong thập kỷ: <br />
                * Tốt nhất: Bitcoin $1 trong năm 2010 = $90,026 ngày hôm nay <br />
                * Tệ nhất: Myanmar Kyat $1 trong năm 2010 = $0,004 (giao ngay) hôm nay. <br />
                * (So sánh: cổ tức Hoa Kỳ $1 trong năm 2010 = $3,46 ngày hôm nay)”
            </p>
            <div class="text-center">
                <img src="~/Content/images/BigArticle/twitterembeeded.PNG" alt="Bitcoin" />
            </div>

            <p>
                Để so sánh các tài sản trên, ngay cả sau một thập kỷ cực kỳ thành công đối với chứng khoán, 1 đô la đầu tư vào các cổ phiếu lớn Mỹ sẽ đạt 3,46 đô la.
            </p>
            <br />
            <p>
                Tất nhiên, không phải ai cũng có thể bán ở mức định giá cao nhất mà không gặp sự sụp đổ về giá, và các chỉ số chứng khoán trong lịch sử ít biến động và thanh khoản hơn. Nhưng bitcoin là một lá bài bất định cho tài chính cá nhân, giúp xây dựng sự giàu có cho các nhà đầu tư quy mô nhỏ phải đối mặt với cả thị trường rủi ro và thu nhập thực tế bị đình trệ.
            </p>
        </div>

        <div>
            <h3>
                <strong>
                    Khoản đầu tư BTC bù đắp cho rủi ro kinh tế trên toàn thế giới và các cổ phiếu trì trệ
                </strong>
            </h3>
            <br />
            <p>
                Đầu tư bitcoin không giới hạn ở những người đến từ Hoa Kỳ và nó đã gây ra sự bùng nổ đầu tư tại Hàn Quốc và các nước châu Á khác. Lợi nhuận từ cổ phiếu tương đối trì trệ khiến người mua chấp nhận tài sản tiền điện tử, vượt ra khỏi BTC và vào khu vực có nhiều <a>tài sản rủi ro hơn.</a>
            </p>

            <br />

            <p>
                Có thể các loại tài sản khác đã đạt được sự tăng trưởng đáng kể về mặt danh nghĩa trong thập kỷ qua. Những năm sau năm 2009 diễn ra với sự nới lỏng định lượng đáng kể, điều này đã thúc đẩy giá trị tài sản. Những lời cáo buộc cho “bong bóng” đã được đề cập nhiều lần, nhưng chúng là để buộc tội cho nhiều loại tài sản, từ bất động sản đến giá trị cổ phiếu.
            </p>

            <br />

            <p>
                Thập kỷ tiếp theo có thể diễn ra với tốc độ tăng trưởng chậm hơn một chút, nhưng hầu hết các chỉ số cũng chỉ ra rằng suy thoái kinh tế đã tránh được vào năm 2020. Cho đến nay, BTC đã không phải đối mặt với suy thoái kinh tế và tồn tại trong một môi trường đầu tư dồi dào.
            </p>

            <br />

            <p>
                Đối với BTC, danh tiếng của nó đã đến tương đối muộn trong thập kỷ, đạt được lực kéo sau năm 2016 và đạt đỉnh vào năm 2017.
            </p>

            <br />

            <p>
                “Mặc dù giao dịch giảm đáng kể so với mức cao kỷ lục của chúng vào cuối tháng 12 năm 2017, tiền điện tử có mức vốn hóa lớn đã có một năm phi thường và vẫn là một trong những câu chuyện đầu tư thành công lớn nhất trong thập kỷ”.
            </p>
            <div class="text-center">
                <img src="~/Content/images/BigArticle/twitterembeeded2.PNG" alt="Bitcoin" />
            </div>
            <br />
            <p>
                Từ đó trở đi, bất chấp sự điều chỉnh, hệ sinh thái bitcoin đã phát triển và “bộ dạng” của tài sản được thiết lập. Với các thị trường tương lai chủ đạo và các sản phẩm trao đổi ở châu Âu, BTC bắt đầu trông giống như một meme Internet, và giống như một lớp tài sản để cạnh tranh với các thị trường chính thống.
            </p>
            <br />
            <p>
                Mặc dù gặp sự cố, bitcoin đã thể hiện mức thấp thấp hơn mỗi năm, cuối cùng cũng có đủ thanh khoản và hỗ trợ từ các thị trường tương lai để trải qua giai đoạn tương đối ổn định.
            </p>
            <br />
            <p>
                BTC cũng đã xây dựng một “công việc làm ăn” xung quanh hoạt động khai thác, sử dụng hết năng lượng thủy điện dự phòng để xây dựng một loại giá trị mới. Tháng 12 năm 2019 được coi là giai đoạn cuối cùng của thập kỷ đối với bitcoin, ít nhất là kể từ khi bắt đầu giao dịch. BTC giao dịch ở mức $7065,27, với khối lượng chậm lại trước ngày lễ.
            </p>
            <br />
            <br />
            <p class="text-right">
                Tạp chí Bitcoin | Bitcoinist
            </p>
        </div>




    </div>
</div>