
@{
    ViewBag.Title = "Tin vắn Crypto 14/12: John McAfee vẫn tin rằng Bitcoin sẽ chạm mức 1 triệu USD vào cuối năm 2020 cùng tin tức Ethereum, Bitcoin Cash, Ripple, Litecoin, MakerDAO, Celsius Network, Uniswap, IOST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="width: 45%">
    <div class="row">
        <h1>
            <strong>
                Tin vắn Crypto 14/12: John McAfee vẫn tin rằng Bitcoin sẽ chạm mức 1 triệu USD vào cuối năm 2020 cùng tin tức Ethereum, Bitcoin Cash, Ripple, Litecoin, MakerDAO, Celsius Network, Uniswap, IOST
            </strong>
        </h1>
        <span>
            14/12/2019 lúc 19:00
        </span>
        <hr />

        <h4>
            Số lượng hợp đồng Long Bitcoin trên nền tảng giao dịch margin của Bitfinex đã bùng nổ vào tháng 12 để đạt mức cao nhất trong nhiều năm, thậm chí vượt xa cả thị trường bò BTC năm 2017.
        </h4>
        <br />
        <div class="text-center">
            <img src="~/Content/images/Article2/article2_1.PNG" alt="Bitcoin" style="width: 100%;" />
        </div>

        <br />
        <div>
            <p>
                Các trader hiện đang nắm giữ hơn 43.000 vị trí Long, trị giá $299.784.000 trên sàn Bitfinex có trụ sở tại Hồng Kông. Tỷ lệ này với sự áp đảo hoàn toàn nghiêng về phe bò, những người nắm giữ 87,1% của tất cả các vị trí.
            </p>
        </div>

        <br />
        <div>

            <div class="text-center">
                <img src="~/Content/images/Article2/article2_2.PNG" alt="Bitcoin" />
            </div>

            <br />
            <p>
                Đây là một sự tương phản rõ rệt giữa BitMEX và Binance, hai trong số các sàn giao dịch lớn nhất theo khối lượng hàng ngày. Phe gấu chiếm đa số trên cả hai sàn, với những người thanh lý Short giữ lần lượt 53% và 63,5% tổng số vị trí Bitcoin.
            </p>
        </div>

        <div>
            <h3>
                <strong>
                    "Long squeeze" đang đến?
                </strong>
            </h3>
            <br />
            <br />
            <p>
                Trong tất cả khả năng, việc phá vỡ dưới 7.000 đô la – mức hỗ trợ của phạm vi giao dịch 20 ngày – có thể ngăn chặn nhiều người nắm giữ lâu dài trên Bitfinex và gây áp lực bán đáng kể trên thị trường.
            </p>

            <br />

            <div class="text-center">
                <img src="~/Content/images/Article2/article2_3.PNG" alt="Bitcoin" />
            </div>
            <br />
            <p>
                Các Long trên Bitfinex đã tăng vọt kể từ tháng 11, dường như được cho phép bởi phạm vi giao dịch chặt chẽ của BTC. Biến động giảm mạnh trong cùng thời gian phe bò Bitfinex bắt đầu tích lũy các vị trí Long kể từ 22/11, và vẫn ở mức thấp bất thường đó.
            </p>
            <br />
            <br />

            <div class="text-center">
                <img src="~/Content/images/Article2/article2_4.PNG" alt="Bitcoin" />
            </div>

            <p>
                Không giống như nền tảng tương lai của BitMEX với đòn bẩy 100 lần, Bitfinex cung cấp mức đòn bẩy tương đối thấp 3,3 lần đối với Bitcoin. Theo đó, các trader của nó bị ảnh hưởng ít hơn đáng kể (về lý thuyết ít bị ảnh hưởng hơn tới 30 lần) do biến động giá BTC.
            </p>

            <br />
            <p>
                Những breakout nhỏ có thể dẫn đến biến động giá bùng nổ mạnh, giá sụp đổ khi những người nắm giữ lâu dài vượt qua biên độ của họ và làm trầm trọng thêm sự sụt giảm. Xem xét số lượng lớn các hợp đồng Long trên Bitfinex, mức đòn bẩy thấp của nền tảng có thể là một ân huệ cho phe bò Bitcoin.
            </p>

            <br />
            <p class="text-right">
                Tạp chí Bitcoin | Cryptolate
            </p>
        </div>
    </div>
</div>

