
@{
    ViewBag.Title = "Diễn Đàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <strong style="color: white;">Diễn đàn Demo</strong>
                    <div style="color: white;">Nơi chia sẻ kiến thức cho những người yêu thích crypto</div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container" style="width: 65%;">
    <div class="row">
        <div>
            <p>asdaasdasd</p>
        </div>
    </div>
</div>





<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>