
@{
    ViewBag.Title = "Diễn Đàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <strong style="color: white;">Diễn đàn Demo</strong>
                    <div style="color: white;">Nơi chia sẻ kiến thức cho những người yêu thích crypto</div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container" style="width: 60%;">
    <div class="row">
        <div class="col-sm-3">
            <!-- Image -->
            <img src="~/Content/images/DauTu/bitcoinchinhlataisandaututotnhat.jpg" alt="Images" style="width: 100%;" />
        </div>
        <div class="col-sm-9">
            <h1 class="cachh1">
                <strong>
                    <a>Bitcoin chính là tài sản đầu tư tốt nhất trong thập kỷ này</a>
                </strong>
            </h1>
            <div style="margin-top: 20px;">
                <span class="badge badge-secondary">Tin tức Bitcoin(BTC)</span>
                <span>15/12/2019</span>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <!-- Image -->
            <img src="~/Content/images/DauTu/lenhlongbitcoinlapkyluc.jpg" alt="Images" style="width: 100%;" />
        </div>
        <div class="col-sm-9">
            <h1 class="cachh1">
                <strong>
                    <a>
                        Lệnh Long Bitcoin lập kỷ lục trên Bitfinex, ‘long squeeze’ đang đến?
                    </a>
                </strong>
            </h1>
            <div style="margin-top: 20px;">
                <span class="badge badge-secondary">Tin tức Bitcoin(BTC)</span>
                <span>14/12/2019</span>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <!-- Image -->
            <img src="~/Content/images/DauTu/tinvancrypto.jpg" alt="Images" style="width: 100%;" />
        </div>
        <div class="col-sm-9">
            <h1 class="cachh1">
                <strong>
                    <a>
                        Tin vắn Crypto 14/12: John McAfee vẫn tin rằng Bitcoin sẽ chạm mức 1 triệu USD vào cuối năm 2020 cùng tin tức Ethereum, Bitcoin Cash, Ripple, Litecoin, MakerDAO, Celsius Network, Uniswap, IOST
                    </a>
                </strong>
            </h1>
            <div style="margin-top: 20px;">
                <span class="badge badge-secondary">Tin tức Bitcoin(BTC)</span>
                <span>14/12/2019</span>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <!-- Image -->
            <img src="~/Content/images/DauTu/ether.jpg" alt="Images" style="width: 100%;" />
        </div>
        <div class="col-sm-9">
            <h1 class="cachh1">
                <strong>
                    <a>
                        Ether nhắm mục tiêu 160 đô la khi các Altcoin tăng giá và BTC đi ngang
                    </a>
                </strong>
            </h1>
            <div style="margin-top: 20px;">
                <span class="badge badge-secondary">Tin tức Ethereum(BTC)</span>
                <span>14/12/2019</span>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <!-- Image -->
            <img src="~/Content/images/DauTu/cardano.jpg" alt="Images" style="width: 100%;" />
        </div>
        <div class="col-sm-9">
            <h1 class="cachh1">
                <strong>
                    <a>
                        Cardano trở thành khách hàng của McCann, sau Microsoft, LinkedIn và Na Uy Airlines
                    </a>
                </strong>
            </h1>
            <div style="margin-top: 20px;">
                <span class="badge badge-secondary">Tin tức Cardano(ADA)</span>
                <span>14/12/2019</span>
            </div>
        </div>
    </div>
</div>





<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>