body {
}

#fix-color {
    background-color: #210c34;
    margin: 0;
}


.remi-header-top-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ask-rate {
    color: #299d82;
}

.bid-rate {
    color: #e65656;
}

#div-intro {
    margin-bottom: 0;
}

#div1 {
    padding: 250px;
    margin: 250px;
}

#render-body {
    background-color: #210c34;
    padding: 60px;
}

.render-body-bottom {
    margin-bottom: 50px;
}

#remi-bid-ask-info {
    color: #49474a;
    display: block;
    overflow: auto;
    padding-top: 3.2rem;
    margin: 1.6rem auto;
    text-align: left;
    font-family: Helvetica Neue;
}

.long-panel {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#row-added {
    margin-left: -16px;
    margin-right: -16px;
}

#dropdown-button {
    text-align: center;
}

#div-left-sell {
    padding: 50px 15px;
    text-align: left;
    width: 50%;
    float: left;
}

#div-left-buy {
    padding: 50px 20px;
    text-align: left;
    width: 50%;
    float: right;
}

#title {
    font-size: 1.6rem;
}

.btn-ask {
    padding: 1.2rem 2.2rem 1.6rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    border-width: .2rem;
    border-radius: .4rem;
    border-color: #299d82;
    background-color: #299d82;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn-bid {
    background-color: #e96c6c;
    padding: 1.2rem 2.2rem 1.6rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    border-width: .2rem;
    border-radius: .4rem;
    border-color: #e65656;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.currency {
    color: #e8e8e8;
}

.vertical-middle {
    vertical-align: middle;
    color: #fff;
}

#remi-rate {
    font-size: 2.1rem;
    margin: 1.3rem 0 1.6rem;
    line-height: 2.4rem;
}

.ads-rate-panel-wrapper {
    padding: 18px 0 27px 27px;
    background-color: #321f44;
    border-radius: .6rem;
}

#dropdown-added {
    width: 100%;
    text-align: center;
}

    #dropdown-added > li > a {
        font-size: 15px;
    }


.remi-footer {
    background-color: #19171c;
    padding: 53px 0 18px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-top: 50px;
}

.remi-logo-container {
    user-select: none;
    color: #2f2f2f;
    text-transform: uppercase;
}

.remi-footer-company-info {
    font-weight: 300;
    line-height: 19px;
    margin-top: 25px;
}

.remi-footer-title {
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
}


.remi-footer .remi-footer-title {
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
}


.remi-footer .remi-footer-email {
    font-weight: 700;
    color: #9b59b6;
}

.remi-link, a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a {
    background-color: transparent;
}

/**, ::after, ::before {
    box-sizing: border-box;
}*/

.remi-footer ul {
    list-style: none;
}

.remi-footer {
    font-size: 14px;
}

/*Index Home */

.p-16 {
    padding: 16px !important;
}

.cta-box {
    border: 1px solid #dadada;
    background-color: #f3f3f3;
    overflow: auto;
    position: relative;
}

.cta-right-column {
    margin-right: 175px;
    margin-left: 120px;
}

.cta-box .cta-right-column .cta-content .cta-title {
    padding-bottom: 9px;
    color: #9b59b6;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.cta-box .cta-right-column .cta-content .cta-details {
    font-size: 1.4rem;
}

.cta-button-wrapper {
    position: absolute;
    right: 25px;
    top: 30%;
}

.cta-box .cta-right-column .cta-button-wrapper .cta-button {
    margin: 0 auto;
}

body .text-sm-center {
    text-align: center;
}

.mt-16 {
    margin-top: 16px !important;
}

.main-container {
    transition: all .5s;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.pointer {
    cursor: pointer;
}

.row-with-thick-left-border {
    color: #49474a;
    background-color: #f8f8fa;
    border-radius: .2rem;
    border-left: .3rem solid #d8d9de;
}

.flex-row {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.body-02 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
}

.offer-price {
    cursor: pointer;
}

.text-success {
    color: #299d82;
}

.remi-offer-item .remi-offer-item-price .offer-price .coin-currency, .remi-offer-item .remi-offer-item-price .offer-price .currency, .remi-offer-item .remi-offer-item-price .offer-price .slash {
    color: #5e5862;
}


.row-with-thick-left-border {
    color: #49474a;
    background-color: #f8f8fa;
    border-radius: .2rem;
    border-left: .3rem solid #d8d9de;
}

.flex-row {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.col-xs-12s {
    width: 100%;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.remi-heading {
    border: none;
    background-color: #27133a;
}

.page-heading {
    position: relative;
}

.forfixedbody {
    position: relative;
    bottom: 0;
    margin: 0 auto;    
}

